@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
}


@source "../**/*.html";
@source "../**/*.js";

@custom-variant dark (&:where(.dark, .dark *));
